.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------------------------------- */

body{
  background-color: #282c34;
}

h1{
  color: aliceblue;
}

.container1{
  position: relative;
  top: 40px;
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
}
.btn{
  height:60px;
  border-radius: 40px;
  font-size: 19px;
  width: 460px;
}
.container2{
  position: relative;
  top: 60px;
  height: 400px;
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
}

#display{
  width: 50%;
  height:100%;
}

.functional{
  background-color: rgb(237, 100, 127);
  padding-top: 110px;
  height:370px;
  border-radius: 40px;
}

.classComp{
  background-color: rgb(255, 167, 94);
  padding-top: 110px;
  height:370px;
  border-radius: 40px;
}
.p1{
  color: #510080;
  font-size: 20px;
  font-weight: bold;
}